<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Membership</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/table.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<!-- <script src="js/jquery.ui.totop.js"></script> -->
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>

		<script>
			$(document).ready(function(){
				// $().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body class="" id="top">
		
		
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="container_12">
					<div class="grid_12">
						<h1 class="center">
							<!--a href="index.html">
								<img src="images/logo.png" alt="Your Happy Family">
							</a-->
							Роботика за България
						</h1><p>
						<div class="menu_block">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<!-- <li><a href="profile.html">Профил</a></li> -->
									<li class="current"><a href="admin.html">Админ</a></li>
									<li><a href="points.html">Точки</a></li>
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
<!--==============================Content=================================-->
			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 21, 2014!</div>
				<div class="container_12" style="padding-top: 30px">
					<div class="grid_4">
						<h3>Материали</h3>
						<ul class="list1 color1">
							<li><a href="#"></a></li>
							<li><a href="admin.html?page=team_ids" >ИД-та на отборите</a></li>
							<li><a href="admin.html?page=registered_teams" >Регистрирани отбори</a></li>
						</ul>
						<div class="block3">
							<p><h3>Предаване</h3> </p>
							<form action="/admin.html" method="post" >
								<input type="hidden" name="operation" value="addtask" />

								<table class="submit-table">
								<tr><td><label for="type">Тип:</label></td><td><select id="type" style="width:235px"	 name="task">
								  <option value="team_id">ИД на отбор</option>
								</select></td> </tr>
								
								<tr><td><label for="id">ИД:</label></td><td><input type="text" style="width:232px" name="id" id="id" /></td> </tr>
								<tr><td><label for="city">Град:</label></td><td><input type="text" style="width:232px" name="city" id="city" /></td> </tr>
								<tr><td><label for="school">Училище:</label></td><td><input type="text" style="width:232px" name="school" id="school" /></td> </tr>

								</table>
								
								<!--
								<p>
								<label for="task">Тип:</label>
								<select id="task" name="task">
								  <option value="team">Екипна задача</option>
								  <option value="project">Проектна задача</option>
								  <option value="robot">Робо мисия</option>
								</select>
								</p>
								
								<p><label for="file">Файл:</label><input type="file" name="file" id="file" /> </p>
								<p><label for="link">Линк:</label><input type="text" name="link" id="link" /> </p>
								
								<p><label for="description">Описание:</label><textarea cols="20" rows="4" name="description" id="description" > </textarea> </p>
								-->
						    <div class="alright"><input type="submit" class="btn" value="Качи" /></div>
							</form>
						</div>
					</div>
					<div class="grid_8">
						<h3>ИД-та на отборите</h3>
						<table class="task-table">
							<colgroup><col>
							</colgroup>
							<tbody>
              {{if .}}
              <tr><th>ИД</th><th>Град</th><th>Училище</th><th></th><th></th></tr>
								{{range $index, $element := .}}
								<tr>
							 		<td contenteditable="true" >{{$element.Id}}</td>
									<td>{{$element.City}}</td>
									<td>{{$element.School}}</td>
                  {{if $element.Registered}}
                  <td><span class="fa fa-check" style="font-size:18pt" ></span></td>
                  {{else}}
                  <td><span class="fa fa-close" style="font-size:18pt" ></span></td>
                  {{end}}
              		<td><form method="post" action="/tasks.html">
									<input type="hidden" name="operation" value="delete" />
									<input type="hidden" name="id" value="{{$element.Id}}" />
									<span class="fa fa-trash-o" style="font-size:18pt;cursor: pointer" onclick="javascript:this.parentNode.submit();"></span>
									</form></td>
								</tr>
								{{end}}
                <tr><td></td><td></td><td></td><td></td><td></td></tr>
							{{else}}
								<tr>
								<td>Не е качено нищо</td>
								</tr>
								<tr><td></td> </tr>
							{{end}}
							</tbody>
						</table>
						
					<!--table class="task-table">
							<colgroup><col>
							</colgroup>
							<tbody>
							<tr>
							<td>Не е качено нищо</td>
							</tr>
							<tr><td></td> </tr>
							</tbody>
						</table-->
						
						<!--
						<img src="images/page4_img1.jpg" alt="" class="img_inner fleft">
						<div class="extra_wrapper">
							<p class="color1"><a href="#">Damus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert</a></p>
							Tcommodo re luctus libero. Praesent faucibusertulomi malesuada cibuste. Donec laoreet metus id laoreetert malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed ertoli molo Curabitur vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros, laoreet sit amet est vel, commodo venenatis eroswe.
						</div>
						<div class="clear"></div>
						<div class="grid_3 alpha">
							<h3 class="h3__head2">Club Committee</h3>
							<ul class="list2">
								<li><span class="color1"><a href="#">Club Captain:</a></span> Mark Johnson</li>
								<li><span class="color1"><a href="#">Ladies Captain:</a></span> Linda Grosh</li>
								<li><span class="color1"><a href="#">Secretary:</a></span> Patrick Pool</li>
								<li><span class="color1"><a href="#">Social Secretary:</a></span> John Priston</li>
								<li><span class="color1"><a href="#">Treasures:</a></span> Jessica Wood</li>
								<li><span class="color1"><a href="#">Assistant Captain:</a></span> Sam Kromstain</li>
								<li><span class="color1"><a href="#">Dunbartonshire Rep:</a></span> John Franklin </li>
								<li><span class="color1"><a href="#">Webmaster:</a></span> Mike Tomson</li>
							</ul>
						</div>
						<div class="grid_5 omega">
							<h3 class="h3__head2">Website Information</h3>
							<p class="color1"><a href="#">Damus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert</a></p>
							Tcommodo re luctus libero. Praesent faucibusertulomi malesuada cibuste. Donec laoreet metus id laoreetert malesuada. Loremert ipsum dolor sit amet, consectetur adipiscing elit. Nullamer lomiter consectetur orci sed ertoli gerti lominuty wertto dertfrt csaertolimi molourabitur vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros, laoreet sit amet est vel, commodo venenatis erosweret olopsce adipiscing quam id risus sagittis, non consequat lacus interdum.
						</div>
						-->
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="clear"></div>
			</div>
		</footer>
		
		
	</body>
</html>

