<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Membership</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/table.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<!-- <script src="js/jquery.ui.totop.js"></script> -->
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>

		<script>
			$(document).ready(function(){
				// $().UItoTop({ easingType: 'easeOutQuart' });
        setDate()
			});
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body class="" id="top">
		
  <script >

    var map = new Object();
	  {{range $index, $element := .AllChallenges.Challenges}}
      var arr=new Array();
	    {{range $index2, $element2 := $element.Tasks}}
        arr.push({{$element2.Name}});
      {{end}}
      map[{{$element.Id}}] = arr;
    {{end}}

    function optionChanged() {
      var op = document.getElementById("operation").value;
      if (op === "new_challenge") {
        var text = "<form action=\"admin_challenges.html\" method=\"post\" >" +
								"<table class=\"submit-table\">"+
								"<tr><td><label for=\"challenge\" ></label></td><td><select id=\"operation\" style=\"width:235px\" name=\"operation\" onchange=\"optionChanged()\" >"+
								  "<option value=\"new_challenge\" selected >New Challenge</option>"+
								  "<option value=\"activate_challenge\" >Activate Challenge</option>"+
								  "<option value=\"challenge_task\" >New Task</option>"+
								  "<option value=\"task_document\" >New Task Document</option>"+
                  "<option value=\"additional_document\" >New Additional Document</option>"+
								"</select></td> </tr>"+
								"<tr><td><label for=\"id\" >Id:</label></td><td><input type=\"text\" style=\"width:232px\" name=\"id\" id=\"id\" /></td> </tr>"+
								"<tr><td><label for=\"name\" >Name:</label></td><td><input type=\"text\" style=\"width:232px\" name=\"name\" id=\"name\" /></td> </tr>"+
								"<tr><td><label for=\"end_time\" >End time:</label></td><td><input type=\"text\" style=\"width:232px\" name=\"end_time\" id=\"end_time\" /></td> </tr>"+
								"</table>"+
						  "<div class=\"alright\"><input type=\"submit\" class=\"btn\" value=\"Add\" /></div>"+
              "</form>";
        document.getElementById("form").innerHTML = text;
        setDate();
      }
      if (op === "activate_challenge") {  
        var text = "<form action=\"admin_challenges.html\" method=\"post\" >" +
								"<table class=\"submit-table\">"+
								"<tr><td><label for=\"challenge\" ></label></td><td><select id=\"operation\" style=\"width:235px\" name=\"operation\" onchange=\"optionChanged()\" >"+
								  "<option value=\"new_challenge\" >New Challenge</option>"+
								  "<option value=\"activate_challenge\" selected >Activate Challenge</option>"+
								  "<option value=\"challenge_task\" >New Task</option>"+
								  "<option value=\"task_document\" >New Task Document</option>"+
                  "<option value=\"additional_document\" >New Additional Document</option>"+
								"</select></td> </tr>"+
  	            "<tr><td><label for=\"challenge\" >Challenge:</label></td><td><select id=\"challenge\" style=\"width:235px\" name=\"challenge\" >"+
						    {{range $index, $element := .AllChallenges.Challenges}}
                  "<option value=\"{{$element.Id}}\" >{{$element.Name}}</option>"+
                {{end}}
								"</select></td> </tr>"+
								"</table>"+
						  "<div class=\"alright\"><input type=\"submit\" class=\"btn\" value=\"Activate\" /></div>"+
              "</form>";
        document.getElementById("form").innerHTML = text;
      }
      if (op === "challenge_task") {  
        var text = "<form action=\"admin_challenges.html\" method=\"post\" >" +
								"<table class=\"submit-table\">"+
								"<tr><td><label for=\"challenge\" ></label></td><td><select id=\"operation\" style=\"width:235px\" name=\"operation\" onchange=\"optionChanged()\" >"+
								  "<option value=\"new_challenge\" >New Challenge</option>"+
								  "<option value=\"activate_challenge\" >Activate Challenge</option>"+
								  "<option value=\"challenge_task\" selected >New Task</option>"+
								  "<option value=\"task_document\" >New Task Document</option>"+
                  "<option value=\"additional_document\" >New Additional Document</option>"+
								"</select></td> </tr>"+
  	            "<tr><td><label for=\"challenge\" >Challenge:</label></td><td><select id=\"challenge\" style=\"width:235px\" name=\"challenge\" >"+
						    {{range $index, $element := .AllChallenges.Challenges}}
                  "<option value=\"{{$element.Id}}\" >{{$element.Name}}</option>"+
                {{end}}
								"</select></td> </tr>"+
		            "<tr><td><label for=\"category\" >Category:</label></td><td><select id=\"category\" style=\"width:235px\" name=\"category\" >"+
								  "<option value=\"team\" >Team</option>"+
								  "<option value=\"project\" >Project</option>"+
								  "<option value=\"robot\" >Robot</option>"+
								"</select></td> </tr>"+
  	          
								"</select></td> </tr>"+
								"<tr><td><label for=\"id\" >Id:</label></td><td><input type=\"text\" style=\"width:232px\" name=\"id\" id=\"id\" /></td> </tr>"+
								"<tr><td><label for=\"name\" >Name:</label></td><td><input type=\"text\" style=\"width:232px\" name=\"name\" id=\"name\" /></td> </tr>"+
								"</table>"+
						  "<div class=\"alright\"><input type=\"submit\" class=\"btn\" value=\"Add\" /></div>"+
              "</form>";
        document.getElementById("form").innerHTML = text;
      }
     if (op === "task_document") {  
        var text = "<form action=\"admin_challenges.html\" method=\"post\" enctype=\"multipart/form-data\" >" +
								"<table class=\"submit-table\">"+
								"<tr><td><label for=\"challenge\" ></label></td><td><select id=\"operation\" style=\"width:235px\" name=\"operation\" onchange=\"optionChanged()\" >"+
								  "<option value=\"new_challenge\" >New Challenge</option>"+
								  "<option value=\"activate_challenge\" >Activate Challenge</option>"+
								  "<option value=\"challenge_task\" >New Task</option>"+
								  "<option value=\"task_document\" selected >New Task Document</option>"+
                  "<option value=\"additional_document\" >New Additional Document</option>"+
								"</select></td> </tr>"+
  	            "<tr><td><label for=\"challenge\" >Challenge:</label></td><td><select id=\"challenge\" style=\"width:235px\" name=\"challenge\" onchange=\"updateTasks()\" >"+
						    {{range $index, $element := .AllChallenges.Challenges}}
                  "<option value=\"{{$element.Id}}\" >{{$element.Name}}</option>"+
                {{end}}
                  "<tr><td><label for=\"task\" >Task:</label></td><td><div id=\"tasksoption\" ><select id=\"task\" style=\"width:235px\" name=\"task\" >";
            //var ccc = document.getElementById("challenge").value;
            
         //       for (var i in map["zadanie1"]) {
				//				text = text + "<option value=\""+i+"\" >"+i+"</option>";
         //   }
                  text = text + "</select></td></div> </tr>"+
								"</select></td> </tr>"+
								"<tr><td><label for=\"type\" >Type:</label></td><td><input type=\"text\" style=\"width:232px\" name=\"type\" id=\"type\" /></td> </tr>"+
								"<tr><td><label for=\"file\" >File:</label></td><td><input type=\"file\" style=\"width:232px\" name=\"file\" id=\"file\" /></td> </tr>"+
								"<tr><td><label for=\"link\" >Link:</label></td><td><input type=\"text\" style=\"width:232px\" name=\"link\" id=\"link\" /></td> </tr>"+
								"</table>"+
						  "<div class=\"alright\"><input type=\"submit\" class=\"btn\" value=\"Add\" /></div>"+
              "</form>";
            
            document.getElementById("form").innerHTML = text;
            updateTasks();
      }
    }

  function updateTasks() {
    var challenge = document.getElementById("challenge").value;
    var text = "<select id=\"task\" style=\"width:235px\" name=\"task\" >";
    var arr = map[challenge];
    for (var i in arr) {
		  text = text + "<option value=\""+arr[i]+"\" >"+arr[i]+"</option>";
    }
    text = text + "</select></td>";
    document.getElementById("tasksoption").innerHTML = text;
  }
  function setDate() {
    var endTime = new Date();
    var str = endTime.getFullYear()+"-"+(endTime.getMonth()+1)+"-"+endTime.getDate()+" "+endTime.getHours()+":"+endTime.getMinutes();
    document.getElementById("end_time").value = str
  }
  </script>
		
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="container_12">
					<div class="grid_12">
						<h1 class="center">
							<!--a href="index.html">
								<img src="images/logo.png" alt="Your Happy Family">
							</a-->
							Роботика за България
						</h1><p>
						<div class="menu_block">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<!-- <li><a href="profile.html">Профил</a></li> -->
									<li ><a href="admin.html">Админ</a></li>
									<li class="current" ><a href="admin_challenges.html" >Задания</a></li>
									<li><a href="points.html">Точки</a></li>
									<li><a href="results.html">Резултати</a></li>
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
<!--==============================Content=================================-->
			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 21, 2014!</div>
				<div class="container_12" style="padding-top: 30px">
					<div class="grid_4">
						<h3>Challenges</h3>
						<ul class="list1 color1">
							<li><a href="#"></a></li>
						  {{range $index, $element := .AllChallenges.Challenges}}
                {{if eq $element.Id $.AllChallenges.ActiveChallenge}}
                  {{if eq $index $.CurrentIndex}}
                    <li ><a href="admin_challenges.html?challenge={{$element.Id}}" style="color:brown" >{{$element.Name}} *</a></li>
                  {{else}}
                    <li><a href="admin_challenges.html?challenge={{$element.Id}}" >{{$element.Name}} *</a></li>
                  {{end}}
                {{else}}
                  {{if eq $index $.CurrentIndex}}
                    <li><a href="admin_challenges.html?challenge={{$element.Id}}" style="color:brown" >{{$element.Name}}</a></li>
                  {{else}}
                    <li><a href="admin_challenges.html?challenge={{$element.Id}}" >{{$element.Name}}</a></li>
                  {{end}}
                {{end}}
              {{end}}
						</ul>
						<div class="block3">
							<p><h3>Add</h3> </p>
              <div id = "form" >
							<form action="admin_challenges.html" method="post" >
								<table class="submit-table">
								<tr><td><label for="challenge" ></label></td><td><select id="operation" style="width:235px" name="operation" onchange="optionChanged()" >
								  <option value="new_challenge" >New Challenge</option>
								  <option value="activate_challenge" >Activate Challenge</option>
								  <option value="challenge_task" >New Task</option>
								  <option value="task_document" >New Task Document</option>
                  <option value="additional_document" >New Additional Document</option>
								</select></td> </tr>

								<tr><td><label for="id" >Id:</label></td><td><input type="text" style="width:232px" name="id" id="id" /></td> </tr>
								<tr><td><label for="name" >Name:</label></td><td><input type="text" style="width:232px" name="name" id="name" /></td> </tr>
								<tr><td><label for="end_time" >End time:</label></td><td><input type="text" style="width:232px" name="end_time" id="end_time" /></td> </tr>
								</table>
						  <div class="alright"><input type="submit" class="btn" value="Add" /></div>
							</form>
              </div >
						</div>
				</div>
					<div class="grid_8">
            {{if eq -1 .CurrentIndex}}
            <h3 >No Challenges</h3>
            {{else}}
              {{$t := index .AllChallenges.Challenges .CurrentIndex}}
                <h3 >Deadline: {{$t.EndTime}}</h3>
              {{if $t.Tasks}}
						    {{range $index, $element := $t.Tasks}}
                  <h3 >{{$element.DisplayName}} ({{$element.Name}}) -> {{$element.Category}}</h3>
						      <table class="task-table" >
							    <colgroup ><col></colgroup>
							    <tbody >
                  {{if $element.Documents}}
                    <tr ><th >Type</th><th >Link</th></tr>
                    {{range $index2, $element2 := $element.Documents}}
								      <tr >
							 		      <td >{{$element2.DocType}}</td>
                        <td ><a href="{{$element2.Link}}" >{{$element2.Link}}</a></td>
								      </tr>
								    {{end}}
                    <tr ><td ></td><td ></td></tr>
							    {{else}}
								    <tr >
								    <td >Не е качено нищо</td>
								    </tr>
								    <tr ><td ></td> </tr>
							    {{end}}
							    </tbody>
						      </table>
                {{end}}
              {{end}}
            {{end}}
	  		</div>
			<div class="clear"></div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="clear"></div>
			</div>
		</footer>
		
		
	</body>
</html>

