<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Membership</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/table.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<!-- <script src="js/jquery.ui.totop.js"></script> -->
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>

		<script>
			$(document).ready(function(){
				// $().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body class="" id="top">
    <script>
      function changeType() {
        if (document.getElementById("type").value === "link") {
          document.getElementById("tochange").innerHTML = "<td ><label for=\"link\" >Линк:</label></td><td ><input type=\"text\" style=\"width:232px\" name=\"link\" id=\"link\" /></td>";
          document.getElementById("taskform").enctype = "application/x-www-form-urlencoded";
	      }
        if (document.getElementById("type").value === "file") {
          document.getElementById("tochange").innerHTML = "<td ><label for=\"file\" >File:</label></td><td ><input type=\"file\" style=\"width:232px\" name=\"file\" id=\"file\" /></td>";
          document.getElementById("taskform").enctype = "multipart/form-data";
        }
      }

      function confirmDelete(e) {
        if (confirm("Сигурни ли сте, че искате да продължите с изтриването?")) {
          e.parentNode.submit();
        }
      }
    </script>
		
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="container_12">
					<div class="grid_12">
						<h1 class="center">
							<!--a href="index.html">
								<img src="images/logo.png" alt="Your Happy Family">
							</a-->
							Роботика за България
						</h1><p>
						<div class="menu_block">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li><a href="home.html">Начало</a></li>
									<!-- <li><a href="profile.html">Профил</a></li> -->
									<li class="current"><a href="tasks.html">Задания</a></li>
									<li><a href="results.html">Резултати</a></li>
									<li><a href="history.html">История</a></li>
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
						{{.Name}}

					</div>
					<div class="clear"></div>
				</div>
			</header>
<!--==============================Content=================================-->
			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 21, 2014!</div>
				<div class="container_12" style="padding-top: 30px">
					<div class="grid_4">
						<h3>Материали</h3>
						<ul class="list1 color1">
							<li><a href="#"></a></li>
						  {{range $index, $element := .Challenge.Tasks}}
              <li>{{$element.DisplayName}} - 
						    {{range $index2, $element2 := $element.Documents}}{{if gt $index2 0}}, {{end}}<a href="{{$element2.Link}}" target="_blank" >{{$element2.DocType}}</a>{{end}}
              </li>
              {{end}}
              <br />
              {{range $index, $element := .Challenge.AdditionalDocuments}}
              <li>{{$element.DisplayName}} - 
						    {{range $index2, $element2 := $element.Documents}}{{if gt $index2 0}}, {{end}}<a href="{{$element2.Link}}" target="_blank" >{{$element2.DocType}}</a>{{end}}
              </li>
              {{end}}
              
						</ul>
            {{if .Active}}
						<div class="block3" >
							<p ><h3 >Предаване</h3> </p>
							<form action="tasks.html" method="post" id="taskform" >
								<table class="submit-table" >
								<tr ><td ><label for="task" >Задача:</label></td><td ><select id="task" style="width:235px" name="task" >
						    {{range $index, $element := .Challenge.Tasks}}
                <option value="{{$element.Name}}" >{{$element.DisplayName}}</option>
                {{end}}
								</select></td> </tr>
                <tr ><td ><label for="type" >Тип:</label></td><td ><select id="type" style="width:235px" name="type" onchange="changeType()" >
                <option value="link" >Линк</option>
                <option value="file" >Файл</option>
								</select></td> </tr>
								<tr id="tochange" ><td ><label for="link" >Линк:</label></td><td ><input type="text" style="width:232px" name="link" id="link" /></td> </tr>
								<tr ><td ><label for="description" >Описание:</label></td><td ><textarea style="width:230px" rows="4" name="description" id="description" ></textarea></td> </tr>
								</table>
								
						    <div class="alright" ><input type="submit" class="btn" value="Качи" /></div>
							</form>
						</div>
            {{end}}
					</div>
					<div class="grid_8">
						{{range $index, $element := .Challenge.Tasks}}
            <br />
            <br />
            <h3>{{$element.DisplayName}}</h3>
						<table class="task-table">
							<colgroup><col>
							</colgroup>
							<tbody>
              {{$p:=index $.Homeworks $element.Name}}
							{{if $p}}
								{{range $index2, $element2 := $p}}
								<tr>
							 		<td>{{$element2.Time.Local.Format "Jan 02, 2006 15:04"}}</td>
									<td><a href="{{$element2.Link}}" target="_blank" >Отвори</a> </td>
									<td>{{$element2.Description}}</td>
									<td><form method="post" action="/tasks.html" >
									<input type="hidden" name="operation" value="delete" />
									<input type="hidden" name="id" value="{{$element2.Time.UnixNano}}" />
									<span class="fa fa-trash-o" style="font-size:18pt;cursor: pointer" onclick="javascript:confirmDelete(this);"></span>
									</form></td>
								</tr>
								{{end}}
								<tr><td></td><td></td><td></td><td></td></tr>
							{{else}}
								<tr>
								<td>Не е качено нищо</td>
								</tr>
								<tr><td></td> </tr>
              {{end}}
							</tbody>
						</table>
            {{$mark := index $.Marks $element.Name}}
            {{$mark.Comment}}

            {{end}}
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="clear"></div>
			</div>
		</footer>
		
</html>

